html {
  font-family: Overpass, sans-serif;
  color: #fff;
}

section {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

a {
  color: #fff;
}

.btn {
  color: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  border-radius: 5px;
}

.btn:hover {
  color: #fff;
}
